<!DOCTYPE html>
<html>
  <head>
    <title>RailsBasics1154</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h2>Hello from the Top</h2>
    <%= yield %>
    <h2>I'm at the bottom.</h2>
  </body>
</html>
